@page
@model IndexModel
@{
    ViewData["Title"] = "Plataforma Digital de Minijogos Didáticos Acessíveis";
}


<main class="main-content">
    <h1 class="titulo" style="text-align: center;">BEM-VINDE AO PLAYABLE!</h1>
    <div class="recazul">
        <div class="coluna">
            <p>
                Aqui podes explorar imensos minijogos educativos, super acessíveis e divertires-te enquanto aprendes.<br /> <br/> Aprende connosco!
            </p>
        </div>
        <div class="coluna">
            <img src="assets/bixinhos.svg" alt="bixinhos" style=" width: 25rem">
        </div>
    </div>




    <div style="display: flex">
        <h2 class="titulo">JOGOS MATEMÁTICOS</h2>
        <a href="#" class="link" style=" text-align: right">Mais Jogos desta Categoria</a>
    </div>



    <div class="game-categories">
        <div class="recazul">
            <div style=" display: flex; flex-direction: row; gap:20px">
                <img src="~ /assets/920x616x1.jpg" style="width: 10rem; height: 10rem"/>
                <div style="display: flex">
                    <br />
                    <p class="texto-normal">Nome do Jogo</p>
                    <input type="checkbox" id="star" class="star-checkbox">
                    <label for="star"></label>
                </div>
            </div>
            </div>
    </div>

    <h3>Mais Jogos desta Categoría</h3>
</main>

<section class="game-instructions">
    <h2># INSTRUÇÕES</h2>
    <ul>
        <li><strong>PASSO 1</strong> descrição</li>
        <li><strong>PASSO 2</strong> descrição</li>
        <li><strong>PASSO 3</strong> descrição</li>
    </ul>
</section>
