@page
@model IndexModel
@{
    ViewData["Title"] = "Plataforma Digital de Minijogos Didáticos Acessíveis";
}


<main class="main-content">
    <h1 class="titulo" style="text-align: center;">BEM-VINDE AO PLAYABLE!</h1>
    <div class="recazul">
        <div class="coluna">
            <p>
                Aqui podes explorar imensos minijogos educativos, super acessíveis e divertires-te enquanto aprendes.<br /> <br/> Aprende connosco!
            </p>
        </div>
        <div class="coluna">
            <img src="assets/bixinhos.svg" alt="bixinhos" style=" width: 25rem">
        </div>
    </div>

    @foreach (var category in Model.GamesByCategory.Keys)
    {
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2 class="titulo">@category</h2>
        </div>

        <div class="game-categories">
            @foreach (var game in Model.GamesByCategory[category])
            {
                <div class="recazul">
                    <a href="/game/@game.Id">                 
                        <div class="divrec">
                            <img src="@game.ImageUrl" style="width: 16rem" />
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <p class="texto-normal">@game.Name</p>
                            </div>
                        </div>
                    </a>

                </div>
            }
        </div>
    }
    </main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const favoriteCheckboxes = document.querySelectorAll('.star-checkbox');

        favoriteCheckboxes.forEach(async (checkbox) => {
            const gameId = checkbox.getAttribute('data-game-id');

            try {
                const response = await fetch(`/Index?handler=IsFavorite&gameId=${gameId}`);
                const result = await response.json();

                if (result.isFavorite) {
                    checkbox.checked = true;
                }
            } catch (error) {
                console.error('Erro ao verificar favorito:', error);
            }
        });
    });
</script>

