@page
@model IndexModel
@{
    ViewData["Title"] = "Plataforma Digital de Minijogos Didáticos Acessíveis";
}


<main class="main-content">
    <h1 style="text-align: center;">BEM-VINDE AO PLAYABLE!</h1>
    <div class="welcome-section">
        <div class="welcome-text">
            <p>
                Aqui podes explorar imensos minijogos educativos, super acessíveis e divertires-te enquanto aprendes.
                Aprende connosco!
            </p>
        </div>
        <div>
            <img src="assets/bixinhos.svg" alt="bixinhos" style=" width: 100%; max-width: 300px;">
        </div>
    </div>





    <h2>JOGOS MATEMÁTICOS</h2>
    <div class="game-categories">
        <div class="game-card">TÍTULO</div>
        <div class="game-card">TÍTULO</div>
        <div class="game-card">TÍTULO</div>
    </div>

    <h3>Mais Jogos desta Categoría</h3>
</main>

<section class="game-instructions">
    <h2># INSTRUÇÕES</h2>
    <ul>
        <li><strong>PASSO 1</strong> descrição</li>
        <li><strong>PASSO 2</strong> descrição</li>
        <li><strong>PASSO 3</strong> descrição</li>
    </ul>
</section>
