<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>playAble - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/utad.PlayAble.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="/">
                <img src="/assets/logo.svg" alt="Logo" style="height: 35px; margin: 10px;">
            </a>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a class="nav a" href="#">AJUDA</a></li>
            </ul>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
            <div class="footer-logo">
                <img src="/assets/logo.svg" alt="Logo" style="height: 35px; margin: 0.5em 2.5em 0.5em 2em;">
            </div>
            <div class="footer-links">
                <a href="#">Sobre Nós</a>
                <a href="#">Categorias</a>
                <a href="#">Ajuda</a>
            </div>
            <img src="/assets/bixinhos.svg" alt="mascotes da playAble" style="width: 100%; max-width: 240px; margin: 0.5em 2em 1em 2em;">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>